.formcontrol::placeholder {
  color: white !important;
  opacity: 1 !important; 
}

.formcontrol::-webkit-input-placeholder {
  color: white !important;
  opacity: 1 !important;
}

.formcontrol::-moz-placeholder {
  color: white !important;
  opacity: 1 !important;
}

.formcontrol:-ms-input-placeholder {
  color: white !important;
  opacity: 1 !important;
}
.nav-link {
  position: relative;
  color: white;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: rgba(128, 0, 255, 0.2);
  border-radius: 4px; 
  color: white; 
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
.modal-scrollable-body {
  max-height: 70vh; 
  overflow-y: auto; 
  padding-right: 15px;
}

/* Form Container */
.form-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Input Fields */
.form-control {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  transition: all 0.3s ease;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Button Styling */
.btn-submit {
  width: 100%;
  background-color: #28a745;
  color: white;
  padding: 12px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #218838;
}

/* Error/Success Message */
.error-message, .success-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* Password Visibility Toggle */
.password-toggle {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.custom-modal-width .modal-dialog {
  max-width: 400px; /* Adjust this value to your desired width */
  margin: auto; /* Center the modal */
}
